body {
    margin: 0;
    /* background-color: #273336; */
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #273336;
    /* display: none; */
}

h1 {
    display: block;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Squada One', sans-serif;
    font-size: 50px;
    color: #273336;
    /* display: none; */
}

audio {
    display: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}